/* HERO */
.hero {
    position: relative;
    height: 500px;
    background: url("https://png.pngtree.com/thumb_back/fw800/background/20250828/pngtree-cybersecurity-team-analyze-data-image_18471612.webp") no-repeat center center/cover;
    margin-top: 0; 
}

.hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
}

.hero-title {
    position: relative;
    z-index: 2;
    color: #475080;
    text-transform: uppercase;
    font-size: 60px;
    right: 210px;
    font-weight: bold;
    text-shadow:
        0 0 10px #fafafa,
        0 0 20px #ffffff,
        0 0 30px #f5f5f5;
}
/* Sections */
.section-title {
    font-size: 40px;
    font-weight: bold;
    text-shadow:  0 0 10px #00c8ff;
}

.sql-section, .insecure-section {
    background: #05122d;
    border-top: 2px solid #0d6efd;
}
p {
    font-size: 20px;
    line-height: 1.8;
}

/* Images right */
.sql-images img {
    width: 80%;
    display: block;
    margin-left: auto;
}
.mobile-img {
    width: 200%;         
    max-width: 800px;   
}

/* Big image */
.big-img {
    max-width: 900px;
    width: 200%;
}
